/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

/* Tracker */
.view-tracker .tracker-page {
  background: #FC0;
}

.view-tracker .tracker-page .active {
  background: #A80;
}

.view-tracker .tracker-story {
  background: #A90;
}

.view-tracker .tracker-story .active {
  background: #890;
}

